.download {
  text-align: center !important;
}

.testbtn {
  height: 60px !important;
  min-width: 60px !important;
  font-size: 8px !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
}

.testicon {
  font-size: 30px !important;
  text-align: center;
}

td {
  text-align: center !important;
}
