<div class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="" class="h1">RH APPLICATION</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Veuillez ajouter votre nouveau mot de passe.
                </p>
                <form [formGroup]="authService.formEditPassword">
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" formControlName="newPass"
                            placeholder="Mot de passe">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="confirmer le mot de passe"
                            formControlName="confirmPass">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" (click)="resetPassword()" class="btn btn-primary btn-block">Modifier
                                le mot de passe</button>
                        </div>
                    </div>
                </form>

                <p class="mt-3 mb-1">
                    <a routerLink="/login">Login</a>
                </p>
            </div>
        </div>
    </div>
</div>