.testa {
  display: flex !important;
  justify-content: center !important;
  border: none !important;
  //padding-right: 50px !important;
  //padding-left: 50px !important;
  width: 80% !important;
}
