<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 *ngIf="this.factDocService.formFirst.controls.type.value == 'Facture'">Résumé de la facture </h1>
                <h1 *ngIf="this.factDocService.formFirst.controls.type.value == 'Devis'">Résumé du devis </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Acceuil</a></li>
                    <li class="breadcrumb-item active"> <a
                            routerLink="/dashboard/facturation/create-fact-document">Générer
                            un document</a> </li>
                    <li class="breadcrumb-item active">Résumé du document</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="invoice p-3 m-3">
                    <div class="row">
                        <div class="col-12">
                            <h3>
                                <img src="../../../../assets/image/logo.png" alt="" style="width: 120px;">
                                <p class="float-right">Date: 07/07/2021</p>
                            </h3>
                        </div>

                    </div>
                    <div class="row invoice-info">
                        <div class="col-sm-6 invoice-col">
                            Pour
                            <address>
                                <strong>{{selectedClient.client_name}}</strong><br>
                                {{selectedClient.adresse}}<br>
                                Chotrana, Ariana 2074<br>
                                Telephone: {{selectedClient.numTelephone}}<br>
                                Email: {{selectedClient.email}}
                            </address>
                        </div>
                        <div class="col-sm-6 invoice-col">
                            <b>Document #007612</b><br>
                            <br>
                            <b *ngIf="this.factDocService.formFirst.controls.type.value == 'Facture'">Facture ID:</b>
                            <b *ngIf="this.factDocService.formFirst.controls.type.value == 'Devis'">Devis ID:</b>
                            4F3S8J<br>
                            <b>RIB:</b> {{selectedClient.RIB}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Prestation</th>
                                        <th>Description</th>
                                        <th>Prix</th>
                                        <th>TVA</th>
                                        <th>Subtotal</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let factDoc of factDocService.articles">
                                        <td>{{factDoc.prestation}}</td>

                                        <td>{{factDoc.description}}</td>
                                        <td>{{factDoc.prix}} <span>{{this.factDocService.selectedDevise}}</span></td>
                                        <td>{{factDoc.tva}} <span>%</span></td>
                                        <td>{{factDoc.total}} <span>{{this.factDocService.selectedDevise}}</span></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-6">

                            <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                                Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya
                                handango imeem
                                plugg
                                dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                            </p>
                        </div>

                        <div class="col-6">
                            <p class="lead">Montant total</p>

                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th style="width:50%">Subtotal:</th>
                                            <td>{{this.factDocService.subtotal}}
                                                <span>{{this.factDocService.selectedDevise}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>TVA ({{selectedClient.Code_TVA}}%)</th>
                                            <td>{{this.factDocService.tva_total}}<span>{{this.factDocService.selectedDevise}}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Autres:</th>
                                            <td>0</td>
                                        </tr>
                                        <tr>
                                            <th>Total:</th>
                                            <td>0</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <div class="row no-print">
                        <div class="col-12">

                            <a rel="noopener" class="btn btn-default col-sm-2" (click)="cancelButton()"><i
                                    class="fas fa-undo"></i>
                                Annuler</a>

                            <button routerLink="/dashboard/facturation/create-fact-document" type="button"
                                class="btn btn-danger" (click)="cancelButtonAndDestroy()" style="margin-left: 5px;">
                                <i class="fas fa-times"></i> Réinitialiser
                            </button>

                            <button type="button" class="btn btn-primary float-right" (click)="GeneratePDF()"
                                style="margin-right: 5px;">
                                <i class="fas fa-download"></i> Generate PDF
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>